*.exe
*/bin/*
*/obj/*

/lib/sfml

Report/Literature Review.aux
Report/Literature Review.log
Report/Literature Review.synctex.gz
Report/Literature Review.fls
Report/Literature Review.fdb_latexmk
Report/Literature Review.blg
Report/Literature Review.run.xml
Report/Literature Review.bcf
Report/Literature Review.bbl
Report/Literature_Review-blx.bib
Report/Literature Review.toc

Report/Design Statement.aux
Report/Design Statement.log
Report/Design Statement.synctex.gz
Report/Design Statement.fls
Report/Design Statement.fdb_latexmk
Report/Design Statement.blg
Report/Design Statement.run.xml
Report/Design Statement.bcf
Report/Design Statement.bbl
Report/Design_Statement-blx.bib
Report/Design Statement.toc
