*/obj/*

/lib/sfml

Report/Literature Review.aux
Report/Literature Review.log
Report/Literature Review.synctex.gz
Report/Literature Review.fls
Report/Literature Review.fdb_latexmk
Report/Literature Review.blg
Report/Literature Review.run.xml
Report/Literature Review.bcf
Report/Literature Review.bbl
Report/Literature_Review-blx.bib
Report/Literature Review.toc

Report/Design Statement.aux
Report/Design Statement.log
Report/Design Statement.synctex.gz
Report/Design Statement.fls
Report/Design Statement.fdb_latexmk
Report/Design Statement.blg
Report/Design Statement.run.xml
Report/Design Statement.bcf
Report/Design Statement.bbl
Report/Design_Statement-blx.bib
Report/Design Statement.toc
*.~vsdx
*.o
source/game
Report/Evaluation-blx.bib
Report/Evaluation.aux
Report/Evaluation.bbl
Report/Evaluation.blg
Report/Evaluation.fdb_latexmk
Report/Evaluation.fls
Report/Evaluation.log
Report/Evaluation.run.xml
Report/Evaluation.synctex.gz
Report/pdflatex13672.fls
Report/pdflatex14552.fls
Report/pdflatex15644.fls
Report/pdflatex2016.fls
Report/pdflatex3756.fls
Report/pdflatex3964.fls
Report/pdflatex8820.fls
